{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="feed" class="w-75 container mt-3 mb-3">
        <div class="row row-cols-2 row-cols-lg-4 g-4">
            <div class="col">

                    <div class="card">
                        <a href="/recipe-template-testing" class="stretched-link"><img src="..." class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <div class="row">
                                <div class="col"><h5 class="card-title">Cereal</h5></div>
                                <div class="col text-end"><p class="text-muted">5 min</p></div>
                            </div>

                            <p class="card-text">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </p>
                            <p class="card-text"><a href="#">author name</a></p>
                        </div>
                    </div>

            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}