{% extends 'base.html' %}
{% load static %}

{% block title %}
    Word of Mouth
{% endblock %}

{% block content %}
    <div id="feed" class="w-75 container mt-3 mb-3">
        <div class="row row-cols-2 row-cols-lg-4 g-4">
            <div class="col">
                <div class="card">
                    <a href="/recipe-template-testing" class="stretched-link">
                        <img src="{% static 'home/img/img1.png' %}" class="card-img-top"
                             style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of cereal">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h5 class="card-title">Cereal Template</h5></div>
                            <div class="col text-end"><p class="text-muted">5 min</p></div>
                        </div>

                        <p class="card-text">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </p>
                        <p class="card-text"><a href="#" class="link-dark" style="z-index: 100; position: relative">author name</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/recipe/1" class="stretched-link">
                        <img src="{% static 'home/img/img1.png' %}" class="card-img-top"
                             style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of butter chicken">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h5 class="card-title">Butter Chicken</h5></div>
                            <div class="col text-end"><p class="text-muted">60 min</p></div>
                        </div>

                        <p class="card-text">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </p>
                        <p class="card-text"><a href="#" class="link-dark" style="z-index: 100; position: relative">author name</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/recipe/2" class="stretched-link">
                        <img src="{% static 'home/img/img1.png' %}" class="card-img-top"
                             style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of butter chicken (vegetarian)">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h5 class="card-title">Butter Chicken (vegetarian)</h5></div>
                            <div class="col text-end"><p class="text-muted">60 min</p></div>
                        </div>

                        <p class="card-text">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </p>
                        <p class="card-text"><a href="#" class="link-dark" style="z-index: 100; position: relative">author name</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/recipe/3" class="stretched-link">
                        <img src="{% static 'home/img/img1.png' %}" class="card-img-top"
                             style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of cereal">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h5 class="card-title">Recipe 3</h5></div>
                            <div class="col text-end"><p class="text-muted">5 min</p></div>
                        </div>

                        <p class="card-text">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </p>
                        <p class="card-text"><a href="#" class="link-dark" style="z-index: 100; position: relative">author name</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/recipe/4" class="stretched-link">
                        <img src="{% static 'home/img/img1.png' %}" class="card-img-top"
                             style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of cereal">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h5 class="card-title">Recipe 4</h5></div>
                            <div class="col text-end"><p class="text-muted">5 min</p></div>
                        </div>

                        <p class="card-text">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </p>
                        <p class="card-text"><a href="#" class="link-dark" style="z-index: 100; position: relative">author name</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/recipe/5" class="stretched-link">
                        <img src="{% static 'home/img/img1.png' %}" class="card-img-top"
                             style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of cereal">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h5 class="card-title">Recipe 5</h5></div>
                            <div class="col text-end"><p class="text-muted">5 min</p></div>
                        </div>

                        <p class="card-text">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </p>
                        <p class="card-text"><a href="#" class="link-dark" style="z-index: 100; position: relative">author name</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/recipe/6" class="stretched-link">
                        <img src="{% static 'home/img/img1.png' %}" class="card-img-top"
                             style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of cereal">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h5 class="card-title">Recipe 6</h5></div>
                            <div class="col text-end"><p class="text-muted">5 min</p></div>
                        </div>

                        <p class="card-text">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </p>
                        <p class="card-text"><a href="#" class="link-dark" style="z-index: 100; position: relative">author name</a></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/recipe/7" class="stretched-link">
                        <img src="{% static 'home/img/img1.png' %}" class="card-img-top"
                             style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of cereal">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <div class="col"><h5 class="card-title">Recipe 7</h5></div>
                            <div class="col text-end"><p class="text-muted">5 min</p></div>
                        </div>

                        <p class="card-text">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </p>
                        <p class="card-text"><a href="#" class="link-dark" style="z-index: 100; position: relative">author name</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}