{% extends 'base.html' %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Edit Ingredients - Word of Mouth
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="mt-3 text-center"> Add an Ingredient </h1>
        <div class="d-flex justify-content-center">
            <form method="POST" class="form-control p-3 mt-3 w-50">
                {% csrf_token %}
                <div class="mb-3">
                    {% bootstrap_label "Add an Ingredient" recipe.recipeTitle %}
                    <input type = 'text' name = 'ingredient' class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        {% bootstrap_label "Add your Ingredient's Amount:" %}
                        <input type="number" name='amount' class="form-control" required>
                    </div>
                    <div class="mb-3 col">
                        {% bootstrap_label "Add your Ingredient's Units:" %}
                        <input type = 'text' name = 'units' class="form-control" required>
                    </div>

                </div>
                {% buttons %}
                    <button type="submit" class="btn btn-primary justify-content-right">
                        Submit
                    </button>
                {% endbuttons%}
            </form>
        </div>
    {% else %}
        <p class="text-center">Please log in to add an ingredient</p>
    {% endif %}
{% endblock %}