{% extends 'base.html' %}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Create Recipe - Word of Mouth
{% endblock %}

{% block content %}
    <h1 class="mt-3 text-center"> Create a New Recipe </h1>
    <form method="POST" class="form-control p-3 mt-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="recipe-title-input" class="form-label">Title Your Recipe:</label>
            <input type="text" name='title' class="form-control" id="recipe-title-input">
        </div>
        <div class="mb-3">
            <label for="recipe-instructions-input" class="form-label">Add Instructions:</label>
            <input type="text" name='text' class="form-control" id="recipe-instructions-input">
        </div>
        <div class="mb-3 row">
            <div class="col">
                <label for="recipe-ingredient-input" class="form-label">Add an Ingredient:</label>
                <input type="text" name='ingredient' class="form-control" id="recipe-ingredient-input">
            </div>
            <div class="col">
                <label for="recipe-ingredient-unit-input" class="form-label">Add Ingredient Units:</label>
                <input type="text" name='units' class="form-control" id="recipe-ingredient-unit-input">
            </div>
            <div class="col">
                <label for="recipe-ingredient-amount-input" class="form-label">Add Ingredient Amount:</label>
                <input type="number" name='amount' class="form-control" id="recipe-ingredient-amount-input"/>
            </div>
        </div>

        {% buttons %}
            <button type="submit" class="btn btn-primary justify-content-right">
                Create
            </button>
        {% endbuttons%}
    </form>
{% endblock %}