{% extends 'base.html' %}

{% block content %}
    <!-- title -->
    <h1 class="mt-3 text-center"> Cereal </h1>

    <!-- image carousel -->

    <!-- caption -->
    <!-- time | rating -->
    <!-- author | fork -->
    <!-- ingredients -->
    <h4>Ingredients</h4>
    <p>Makes <input style="width: 5em" type="number" value="1"/> servings</p>
    <ul>
        <li>1 cup milk</li>
        <li>1 cup Cinnamon Toast Crunch</li>
    </ul>
    <!-- directions -->
    <h4>Directions</h4>
    <ol>
        <li>Pour cereal into bowl</li>
        <li>Pour milk into bowl</li>
        <li>Enjoy</li>
    </ol>
    <!-- comments -->
    <h4>Comments</h4>
    <div class="container">
        <div class="card mb-3">
             <div class="card-body">
                 <div class="row justify-content-between">
                     <div class="col"><h5 class="card-title">Poster Username</h5></div>
                     <div class="col"><p class="text-end">Posted March 1, 2022</p></div>
                 </div>
                 <p class="card-text">This recipe was really good! I make it every morning.
                     Sometimes I would recommend substituting Honey Nut Cheerios instead of the Cinnamon Toast Crunch.
                     Thanks for sharing!</p>
             </div>
        </div>

        <div class="card mb-3">
             <div class="card-body">
                 <div class="row justify-content-between">
                     <div class="col"><h5 class="card-title">Poster Username</h5></div>
                     <div class="col"><p class="text-end">Posted March 1, 2022</p></div>
                 </div>
                 <p class="card-text">This recipe was really good! I make it every morning.
                     Sometimes I would recommend substituting Honey Nut Cheerios instead of the Cinnamon Toast Crunch.
                     Thanks for sharing!</p>
             </div>
        </div>

        <div class="card mb-3">
             <div class="card-body">
                 <div class="row justify-content-between">
                     <div class="col"><h5 class="card-title">Poster Username</h5></div>
                     <div class="col"><p class="text-end">Posted March 1, 2022</p></div>
                 </div>
                 <p class="card-text">This recipe was really good! I make it every morning.
                     Sometimes I would recommend substituting Honey Nut Cheerios instead of the Cinnamon Toast Crunch.
                     Thanks for sharing!</p>
             </div>
        </div>
    </div>

{% endblock %}