{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{tag.tag}} - Word of Mouth
{% endblock %}

{% block content %}
    <h1 class="mt-3 text-center"> Word Of Mouth </h1>
    <div id="feed" class="w-75 container mt-3 mb-3">

        <h1 class="mt-3 text-center"> #{{tag.tag}} </h1>
        <div class="row row-cols-2 row-cols-lg-4 g-4">
            {% for recipe in recipes %}
                <div class="col">
                    <div class="card">
                        {% if recipe.image.url is not None%}
                        <a href="/recipe/{{ recipe.id }}" class="stretched-link">
                            <img src="{{ recipe.image.url }}" class="card-img-top"
                                 style="width: 100%; aspect-ratio: 1 / 1; object-fit: cover;" alt="Photo of cereal">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col"><h5 class="card-title">{{recipe.recipeTitle}}</h5></div>
                                <div class="col text-end"><p class="text-muted">{{ recipe.time_to_make }} min</p></div>
                            </div>
                            <div class="row">
                                <div class="col"><p class="text-muted mb-0">{{ recipe.writer }}</p></div>
                                <div class="col text-end">{{ recipe.total_likes }}  <i class="bi bi-heart-fill"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}